# -----------------------------------------------------------------
# environment
SHELL=/bin/bash
PATH=/usr/local/bin:/usr/bin:/bin:
JDBC_HIVE2_URL='jdbc:hive2://cl-hpelb1-30-wo-01-lx-ub16.lxd:10000/'
USE_DEPRECATED_CLI=false
USER=bd01
#USER=${LOGNAME}
# -----------------------------------------------------------------
# job definition
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12)
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7)
# |  |  |  |  |
# *  *  *  *  *  command to be executed
# -----------------------------------------------------------------
*  3,6,9,12,15,18,21,0  *   *  *  $HOME/repos/bdlc-airvisual/etl-lite/process-cron.sh

